  .features-products{
    width: 86%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 86%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
  } 
  .features-products__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .features-products__title{
    font-size: 26px;
    font-weight: 600;
    color: #03161f;
    margin: 10px 0px;
  }
  .features-products__btns{
    /* border: 2px solid red; */
    gap: 10px;
    display: flex;
  }
  .features-products__btn{
    padding: 6px 12px;
    border-radius: 50%;
    background: #5c6c7532;
    color: grey;
    border: none;
    font-size: 18px;
    font-weight: 900;
    transition: 0.3s ease-in-out;
  }
  .features-products__btn:hover{
    background: #0AAD0A;
    color: white;
  }
  
  .features-products__cards {
    display: flex;
    gap: 25px;
    width: max-content;
    animation: slideCards 10s linear infinite;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    margin: 20px 0px;
  }
  
  .features-products__card {
    border: 1px solid #5c6c7543;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #5C6C75;
    border-radius: 10px;
    min-width: 245px;
    max-width: 300px;
    height: 250px;
    /* width: calc(100% / 8); Display exactly 4 cards */
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
  }
  .features-products__card:hover{
    border: 2px solid #0AAD0A;
    box-shadow: 0px 2px 2px 2px black;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  }
  @keyframes slideCards {
    0%, 20% {
      transform: translateX(0%); /* Show first set */
    }
    25%, 45% {
      transform: translateX(-33.5%); /* Slide to second set */
    }
    50%, 70% {
      transform: translateX(-67.2%); /* Slide to third set */
    }
    100% {
      transform: translateX(0%); /* Loop back to first set */
    }
  }

  @media (max-width: 768px) {
  .features-products__cards{
    /* border: 2px solid red; */
    margin-top: 30px ;
  }
  .features-products__card{
    width: 100px;
    /* border: 2px solid red; */
    min-width: 170px;
    height: 230px;
  }
  @keyframes slideCards {
    0%, 10% {
      transform: translateX(0%);
    }
    20%, 30% {
      transform: translateX(-8.8%);
    }
    40%, 50% {
      transform: translateX(-17.2%);
    }
    60%, 70% {
      transform: translateX(-25.6%);
    }
    80%, 90% {
      transform: translateX(-34%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}